.sidebar {
  background-color: var(--black);
  /* border-right: 1px solid #DCDCDC; */
  width: 200px;
  height: 100vh;
  /* color: white; */
  /* margin-top: -60px; */
  display: flex;
  position: fixed;
  top: -0;
  display: block;
  z-index: 1;
}


.list ul {
  list-style-type: none;
  margin-left: -40px;
}

.logo {
  height: 60px;
  padding-left: 10px;
}
.sidebar-list li {
  padding: 10px 30px;
  display: flex;

}

i {
  /* flex: 1; */
  font-size: 25px;
  padding-top: 17px;
  color: white;
}

i:hover{
  color: white;
}

.link{
  text-decoration: none;
}
.side-logo {
  padding-right: 35px;
  /* flex: 1; */
}
/* .sidebar:hover {
  width: 200px;
  z-index: 1;
  display: block;
} */
.sidebar-list {
  display: block;
  color: #b1b4c7;
}
/* li:hover {
  background: linear-gradient(to right, #9c2224, #101010);
  
} */

#side-title {
  display: block;
  padding-right: 60px;
  padding-bottom: -20px;
  text-decoration: none;
  color: WHITE;
}

#side-title:hover{
  color: #fff;
}
/* li:hover > #side-title {
  display: block;
  z-index: 1;
} */

li:hover{
  background: var(--red);
  border-radius: 20px;
  color: #fff;
}